body{
    margin:0;
    padding-top:0;
    background-color: #DEDEDE;
}

html{
    margin-top:0;
    padding-top:0;
}

p{
    font-size:larger;
    color:black;
    font-family:ibm_plex_sans;
}

h2 {
    margin: 0;
    font-family: ibm_plex_sans_condensed;
    color : white;
}
h1 {
    margin: 0;
    font-size: 2.5em;
    font-family: ibm_plex_sans_condensed;
}

a {
    text-decoration: none;
}

#top-bar-shadow{
    display: flex;
    flex-direction: row;
    background-color: #0E3C45;
    color : white;
    /*margin: 0;*/
    position: fixed;
    width: 100%;
    height: 70px;
    align-items: center;
    box-shadow: rgba(28, 46, 60, 0.641) 0px 7px 29px 0px;
    transition: 0.2s all;
    z-index:2;
}

#top-bar{
    display: flex;
    flex-direction: row;
    background-color: #0E3C45;
    color : white;
    /*margin: 0;*/
    position: fixed;
    width: 100%;
    height: 70px;
    align-items: center;
    transition: 0.2s all;
}

#top-bar-left{
    display: flex;
    margin-left: 20px;
    height: 70%;
    align-items: flex-end;
}

#top-bar-right{
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 20px;
    align-items: center
}

.top-bar-right-buttons{
    display: flex;
    height: 70%;
    margin-left : 20px;
    margin-right : 20px;
    align-items: flex-end;
    -webkit-user-select: initial;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-delay: 0s;
}

#projects-part{
    display: flex;
    height: 650px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0E3C45;
}

#project-title{
    display: flex;
    font-size: 3em;
    font-family: ibm_plex_sans, serif;
    color: #DEDEDE;
    height: 60px;
    padding-bottom: 80px;
    align-items: center;                    
}

.project{
    height: 400px;
    width: 300px;
    transition-duration: 0.2s;
}

.project:hover{
    scale:1.2;
}

.image-proj{
    display : flex;
    width:100%;
    height:80%;
    align-items: center;
    background-color: black;
    border-radius: 20px 20px 0 0;
}

#projects-container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.title-proj{
    display: flex;
    width:100%;
    height:20%;
    font-size : 1.5em;
    align-items: center;
    justify-content: center;
    font-family: ibm_plex_sans, serif;
    color: black;
    border-radius: 0 0 20px 20px;
}

#title-lilia{
    background-color: hotpink;
}

#title-retard{
    background-color: #5a567d;
}


#role{
    display: flex;
    width:100%;
    height: 300px;
    padding-top:70px;
    font-size : 8em;
    align-items: center;
    justify-content: center;
}

#skills-part {
    display: flex;
    /*padding-top: 70px;*/
    height: 350px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#skills-logos{
    display: flex;
    width:100%;
    height:150px;
    justify-content: space-evenly;
}

.parent-logo{
    position: relative;
    top: 0;
    left: 0;
}

.logo-image{
    height: 100%;
}

.logo-image-stat{
    position: absolute;
    height: 100%;
    opacity: 0;
    float:right;
    clear:right;
    top: 0;
    left: 0;
    transition:opacity;
    transition-duration: 0.4s;
}

.logo-image-stat:hover {
    opacity: 1;
}

#skills-texts{
    display:flex;
    justify-content: center;
    width:100%;
    height:70px;
    align-items: center;
    color: #0E3C45;
}

#skills-texts-child{

    font-size: 3em;
    font-family: ibm_plex_sans, serif;
    
}

.programmer {
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
    color: #0E3C45;
    font-family: ibm_plex_sans_condensed, serif;
}

.gameplay{
    background-color: #0E3C45;
    color : #DEDEDE;
}

#about-me-part{
    display: flex;
    height: 450px;
    width:100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#about-me-title{
    font-size: 3em;
    font-family: ibm_plex_sans, serif;
    display: flex;
    justify-content: flex-start;
    width:80%;
    height:70px;
    align-items: center;
    color: #0E3C45;
}

#text-placement{
    display: flex;
    text-align: center;
    width:50%;
    height:100%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

#about-text-zone{
    display: flex;
    width : 100%;
    justify-content: flex-end;
}

#about-me-text{
    display: flex;
    text-align: justify;
}

#about-me-text-titles{
    display: flex;
    margin: 0;
    font-family: ibm_plex_sans_condensed;
    color : #0E3C45 ;
    font-size: 2em;
}

#about-me-image{
    display: flex;
    padding-right: 50px;
    padding-left: 50px;
}

.nav-bar{
    background-color: dodgerblue;
    height: 4px;
    width: 0;
    transition-property: width;
    transition-duration: 0.5s;
    transition-delay: 0s;
}

#img-lilia{
    width:100%;
}

#img-retard{
    width:100%;
}

#contact-part{
    display: flex;
    width: 100%;
    height:500px;
    /*padding-top : 100px;*/
    flex-direction: column;
    overflow: auto;
    background-color: #0E3C45;
    color :#DEDEDE;
    justify-content: center;
}

#contact-title{
    
    font-size: 3em;
    font-family: ibm_plex_sans, serif;
    display: flex;
    justify-content: center;
}

#contact-part-bottom{
    display: flex;
    height: 350px;
    flex-direction: column;
    background-color: #0E3C45;
    justify-content: space-around;
}

#text-contact{
    display: flex;
    align-items: center;
    justify-content: center;
    color : #DEDEDE;
    height: 150px;
}

#p-text-contact{
    color: #DEDEDE;
}

#contact-logo-centering{
    display:flex;
    width: 100%;
    /*padding-top:30px;*/
    justify-content: center;
}

#contact-me-logo-container{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    width:50%;
}

.contact-me-logos{
    display: flex;
    flex-direction: column;
    height:150px;
    width:100px;
    align-items: center;
    transition-duration:0.2s;
}

.logo-contact-text{
    color:#DEDEDE;
}


.contact-me-logos:hover{
    scale: 1.1;
}

.contact-me-logos-image{
    height:50%;
}

@font-face {
    font-family: 'ibm_plex_sans';
    src: url('../fonts/IBMPlexSans/ibmplexsans-medium-webfont.woff2') format('woff2'), url('../fonts/IBMPlexSans/ibmplexsans-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ibm_plex_sans_condensed';
    src: url('../fonts/IBMPlexSansCondensed/ibmplexsanscondensed-medium-webfont.woff2') format('woff2'), url('../fonts/IBMPlexSansCondensed/ibmplexsanscondensed-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}