/*#region Basics*/
    body{
        margin:0;
        padding-top:0;
        background-color: #fefefe;

    }

    html{
        margin-top:0;
        padding-top:0;
        scroll-behavior: smooth;
    }

    p{
        font-size:larger;
        color:black;
        font-family:ibm_plex_sans;
    }

    h2 {
        margin: 0;
        font-family: ibm_plex_sans_condensed;
        color : #fefefe;
    }
    h1 {
        margin: 0;
        font-size: 2.5em;
        font-family: ibm_plex_sans_condensed;
    }

    a {
        text-decoration: none;
    }

    .page{
        display: flex;
        max-width: 1100px;
        flex-direction: column;
        align-items: center;
        padding:0 20px;
        margin:auto;
    }

    #test{
        color:red;
    }

    .anchors{
        padding-top : 70px;
    }

/*#endregion */

/*#region TopBar*/
#top-bar{
    display: flex;
    flex-direction: row;
    background-color: #54008C;
    background: rgb(84,0,140);
    background: linear-gradient(180deg, rgba(84,0,140,1) 0%, rgba(67,0,112,1) 75%, rgba(37,0,59,1) 100%);

    color : #fefefe;
    /*margin: 0;*/
    position: fixed;
    width: 100%;
    height: 70px;
    align-items: center;
    transition: 0.2s all;
    justify-content: center;
    z-index: 3;
}

.text-placement{
    display: flex;
    max-width: 1100px;
    width: 100%;
    align-items: flex-end;
}

#top-bar-shadow{
    display: flex;
    flex-direction: row;
    background: rgb(84,0,140);
    background: linear-gradient(180deg, rgba(84,0,140,1) 0%, rgba(67,0,112,1) 75%, rgba(37,0,59,1) 100%);
    color : #fefefe;
    /*margin: 0;*/
    position: fixed;
    width: 100%;
    height: 70px;
    align-items: center;
    box-shadow: rgba(37,0,59,1) 0px 7px 29px 0px;
    transition: 0.2s all;
    z-index:3;
    justify-content: center;
}

#top-bar-left{
    display: flex;
    margin-left: 20px;
    height: 70%;
    align-items: flex-end;
}

#top-bar-right{
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 20px;
    align-items: center
}

.top-bar-right-buttons{
    display: flex;
    height: 70%;
    margin-left : 20px;
    margin-right : 20px;
    align-items: flex-end;
    -webkit-user-select: initial;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-delay: 0s;
}

.nav-bar{
    background-color: #FFD900;
    height: 4px;
    width: 0;
    transition-property: width;
    transition-duration: 0.2s;
    transition-delay: 0s;
}
/*#endregion */

/*#region Role*/
#role{
    display: flex;
    height:100vh;
    font-size : 8em;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.role-size{
    flex-direction: column;
}

@media (min-width:1340px) {
    .role-size{
        flex-direction: row;
    }
    .role-words{
        width: 50%;
    }
}

.programmer {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #25003b;
    font-family: ibm_plex_sans_condensed, serif;
    z-index: 2;
    
}

.role-words{
    width: 100%;
}

.gameplay{
    background-color: #25003b;
    
        color : #fefefe;
}

.img-wip{
    position:absolute;
    top:70px;
    width: 100%;
    height: 100vh;
    background-image: url("../../images/WIPFond.png");
    background-position: center;
    background-size: cover;
    z-index: 1;
}
/*#endregion */

/*#region AboutMe*/
#about-me-part{
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top:30px;
    padding-bottom: 30px;
    align-items: flex-start;
}

#about-me-title{
    font-size: 3em;
    font-family: ibm_plex_sans, serif;
    display: flex;
    justify-content: flex-start;
    padding-left:5%;
    align-items: center;
    color: #25003b;
}

#about-text-zone{
    display: flex;
    width : 100%;
    justify-content: flex-end;
}

#text-placement{
    display: flex;
    text-align: center;
    height:100%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

#about-me-text{
    display: flex;
    text-align: justify;
    padding-left:15%;
}

#about-me-text-titles{
    display: flex;
    font-family: ibm_plex_sans_condensed;
    color : #25003b;
    font-size: 2em;
    padding-left:12%;
}

#about-me-image{
    display: flex;
    padding-right: 50px;
    padding-left: 50px;
    width:100%;
    max-height: 300px;
    min-height: 100px;
}
/*#endregion */

/*#region Projects*/
#projects-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #25003b;
    padding: 50px 0px;
    width: 100vw;
    /*left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;*/
}

#project-title{
    display: flex;
    font-size: 3em;
    font-family: ibm_plex_sans, serif;
    color: #fefefe;
    height: 60px;
    padding-bottom: 80px;
    align-items: center;                    
}

#projects-container{
    display: flex;
    width: 100%;
    justify-content: center;
}

.project{
    height: 400px;
    width: 300px;
    transition-duration: 0.2s;
    padding: 0 20px;
}

.project:hover{
    scale:1.2;
}

.image-proj{
    display : flex;
    width:100%;
    height:80%;
    align-items: center;
    background-color: #111;
    border-radius: 20px 20px 0 0;
}

#img-lilia{
    width:100%;
    object-fit: contain;
}

.title-proj{
    display: flex;
    width:100%;
    height:20%;
    font-size : 1.5em;
    align-items: center;
    justify-content: center;
    font-family: ibm_plex_sans, serif;
    color: black;
    border-radius: 0 0 20px 20px;
}

#title-lilia{
    background-color: hotpink;
}

#img-retard{
    width:100%;
}

#title-retard{
    background-color: #5a567d;
}
/*#endregion */

/*#region Skills*/
#skills-part {
    display: flex;
    /*padding-bottom: 70px;*/
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#skills-texts{
    display:flex;
    justify-content: center;
    width:100%;
    height:70px;
    align-items: center;
    color: #25003b;
}

#skills-texts-child{

    font-size: 3em;
    font-family: ibm_plex_sans, serif;
    
}

#skills-logos-desc {
    display: flex;
    width:100%;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: column;
}

#skills-logos {
    display: flex;
    width:100%;
    justify-content: center;
}

.parent-logo{
    position: relative;
    top: 0;
    left: 0;
    margin: 20px;
}

.logo-image{
    max-height: 150px;
}

.logo-image-stat{
    position: absolute;
    max-height: 150px;
    opacity: 0;
    float:right;
    clear:right;
    top: 0;
    left: 0;
    transition:opacity;
    transition-duration: 0.4s;
}

.logo-image-stat:hover {
    opacity: 1;
}
/*#endregion */

/*#region Contact*/
#contact-part{
    display: flex;
    width: 100vw;
    /*padding-top : 100px;*/
    flex-direction: column;
    overflow: auto;
    padding: 30px 0;
    background: rgb(37,0,59);
    background: linear-gradient(180deg, rgba(37,0,59,1) 0%, rgba(45,0,75,1) 20%, rgba(55,0,92,1) 100%);    justify-content: center;
}

#contact-title{
    
    font-size: 3em;
    font-family: ibm_plex_sans, serif;
    display: flex;
    justify-content: center;
    color: #fefefe;
}

#contact-part-bottom{
    display: flex;
    height: 350px;
    flex-direction: column;
    
    justify-content: space-around;
}

#text-contact{
    display: flex;
    align-items: center;
    justify-content: center;
    color : #fefefe;
    height: 150px;
}

#p-text-contact{
    color: #fefefe;
}

/* unvisited link */
#href-discord:link {
    color: rgb(110, 228, 255);
}

/* visited link */
#href-discord:visited {
    color: #FFD900;
}

/* mouse over link */
#href-discord:hover {
    color: green;
}

/* selected link */
#href-discord:active {
    color: #fefefe;
}

#contact-logo-centering{
    display:flex;
    width: 100%;
    /*padding-top:30px;*/
    justify-content: center;
}

#contact-me-logo-container{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contact-me-logos{
    display: flex;
    flex-direction: column;
    height:150px;
    width:100px;
    padding:0 10px;
    align-items: center;
    transition-duration:0.2s;
}

.contact-me-logos:hover{
    scale: 1.1;
}

.contact-me-logos-image{
    height:50%;
}

.logo-contact-text{
    color:#fefefe;
}
/*#endregion */

/*#region Fonts*/
@font-face {
    font-family: 'ibm_plex_sans';
    src: url('../fonts/IBMPlexSans/ibmplexsans-medium-webfont.woff2') format('woff2'), url('../fonts/IBMPlexSans/ibmplexsans-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ibm_plex_sans_condensed';
    src: url('../fonts/IBMPlexSansCondensed/ibmplexsanscondensed-medium-webfont.woff2') format('woff2'), url('../fonts/IBMPlexSansCondensed/ibmplexsanscondensed-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*#endregion */